<h1 class="text-center">Кто ты?</h1>
<div class="btn">

<img class="pic" src="https://www.meme-arsenal.com/memes/2dc0e79baf09f0063f513db1fd03434b.jpg" alt="">
<button class='button_vnuk button' type="button" name="grandson"><a class="linkMain" href='/grandson/login'>Внук</a></button>
<button class='button_babushka button' type="button" name="grandmother"><a class="linkMain" href='/grandmother/login'>Бабушка</a></button>
<img class="pic" src="https://memepedia.ru/wp-content/uploads/2018/10/babushka.jpg" alt="">

</div>

