<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Granny helper</title>
</head>


{{#if isGrandmother}}
<body class="babushka_img">
{{else}}
{{!-- <body class="default_img"> --}}
{{/if}}

{{#if isGrandson}}
<body class="vnuk_img">
{{else}}
<body class="default_img">
{{/if}}

  {{{body}}}
  <script src="/js/application.js"></script>

</body>
</html>
